.Sidebar{
  color: #ffffff;
  
}

a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

li{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}