h2{
  text-align: center;
  color: #ffffff;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  animation: example infinite 5s linear;
}

hr  {
  border-color: red;
}
